.textbutton {
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  transition: color 0.1s ease-in-out;
}

.textbutton:hover {
  color: #E09690;
}

.banner {
  background-color: inherit;
  box-sizing: border-box;
  left: 0px;
  padding: 7px;
  top: 0px;
  width: 100vw;
  z-index: 1;
}
