#multibutton, circle-dot-icon {
  height: 20px;
  width: 20px;
  position: relative;
}

#multibutton:not([loading]) {
  cursor: pointer;
}

/*
  possible arrangements:
    loading playing --> show spinner
    loading         --> show spinner
    playing         --> show pause button
    *none*          --> show play
*/
#multibutton[loading] paper-spinner,
#multibutton[playing]:not([loading]) pause-icon,
#multibutton:not([playing]):not([loading]) play-icon {
  opacity: 1;
  z-index: 3;
}

#multibutton paper-spinner {
  opacity: 0;
}

pause-icon, play-icon, paper-spinner {
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transition: fill 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

pause-icon:hover, play-icon:hover {
  fill: #72B3CC;
}

circle-dot-icon:hover {
   fill: #8EB33B;
}

:host {
   letter-spacing: 2px;
   position: absolute;
   text-transform: uppercase;
   z-index: 100;
}

.menu {
   background-color: white;
   color: black;
   z-index: -1;
   padding: 7px;
   text-transform: none;
   margin-top: 0px;
   transition: margin-top ease-in-out 0.3s;
}

.menu.hide {
   margin-top: -50px;
}

paper-radio-group {
   text-align: center;
}

paper-radio-button {
   padding: 0px !important;
}

paper-radio-button::shadow #onRadio {
  background-color: black;
}

paper-radio-button::shadow #ink {
  color: #E09690;
}

.textbutton, paper-slider, pause-icon, play-icon, circle-dot-icon {
  cursor: pointer;
}

a {
   display: flex;
}
