#placeholder {
  opacity: 0;
}

#text {
  position: absolute;
  top: 0px;
  width: 100vw;
  transition: top 1.5s ease-in-out;
}

#text div, #placeholder {
  box-sizing: border-box;
  display: block;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  width: 100%;
  overflow: hidden;
}

#text div:not(#placeholder) > span:last-child {
  height: 0px;
  /display: block;
}

:host {
  box-sizing: border-box;
  display: block;
  font-size: larger;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.suspendtransition {
  transition: none;
}
