:host {
  background-color: black;
}

#leftbutton, #rightbutton {
  cursor: pointer;
  width: 30px;
  box-shadow: 0px 0px 40px 20px;
}

#leftbutton, #rightbutton, left-icon, right-icon {
  height: 20px;
  z-index: 1;
}

#leftbutton, .right {
  text-align: left;
}

#leftbutton:hover left-icon {
  -webkit-animation: scootleft forwards 0.1s;
}

#pivot {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-transform: uppercase;
}

#rightbutton, .left {
  text-align: right;
}

#rightbutton:hover right-icon {
  -webkit-animation: scootright forwards 0.1s;
}

.left, .right {
  letter-spacing: normal;
  text-transform: initial;
  position: relative;
  overflow: hidden;
}

.left > div {
  right: 0px;
}

.right > div {
  left: 0px;
}

.left > div, .right > div {
  position: absolute;
  top: 0px;
  white-space: nowrap;
}

.left, .right, #pivot, .empty {
  color: white;
}

.empty {
  font-style: italic;
  text-align: center;
  width: 100%;
  background-color: inherit;
}

.hideable.hide {
  opacity: 0;
}

.hideable {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}

#wrapper {
  padding: 5px;
  position: initial;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: inherit;
}

left-icon, right-icon {
  fill: white;
  width: 20px;
}

paper-progress {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

paper-progress[hide] {
  display: none;
}

paper-progress::shadow #progressContainer {
  background-color: transparent;
}

paper-progress::shadow #activeProgress {
  background-color: white;
}

@-webkit-keyframes scootleft {
   from { margin-left: 0px; }
   to { margin-left: -3px; }
}

@-webkit-keyframes scootright {
   from { margin-right: 0px; }
   to { margin-right: -3px; }
}
