#wrapper {
  margin: auto;
  padding-top: 5%;
  width: 700px;
}

@media (max-width: 800px){
  body {
    font-style: italic;
  }
  #wrapper {
    margin: 0px;
  } 
}

description {
  font-weight: lighter;
  padding-left: 20px;
}

description, format, url {
  display: block;
}

em {
  font-weight: normal;
  font-style: normal;
}

end-point {
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  display: block;
  margin-bottom: 20px;
}

end-point > * {
  overflow: hidden;
  padding: 20px;
}

end-point > *:not(:last-child) {
  border-bottom: 3px solid rgb(29, 29, 29);
}

end-point > div > *:not(:first-child) {
  padding-left: 40px;
  padding-top: 10px;
}

format {
  display: block;
  margin: auto;
  padding: 20px 10px 0px 10px !important;
  text-align: center;
}

format, url {
  font-family: Inconsolata, monospace;
}

h1 {
  font-size: x-large;;
  font-weight: normal;
  margin: 0px;
  text-transform: uppercase;
}

indent {
  width: 2em;
}

indent, parameter, type {
  display: inline-block;
}

li:not(:last-child), parameter {
  margin-bottom: 3px;
}

parameter {
  color: #9CD9F0;
}

placeholder {
  color: #CDEE69;
  font-style: italic;
}

pre {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

type {
  color: rgb(150, 150, 150);
  font-size: smaller;
  font-style: italic;
  padding-left: 0.5em;
}

ul {
  list-style: none;
  margin: 0px;
}

url {
  background-color: rgb(29, 29, 29);
  text-align: center;
}

url > base-url {
  color: white;
  font-size: x-large;
  padding-left: 0.2em;
}
