body {
   font-family: 'Avenir Next', 'Roboto', 'Roboto_Backup', 'Inconsolata', 'Inconsolata_Backup', monospace;
   padding: 0px;
   margin: 0px;
   position: relative;
}

.light {
   background-color: white;
   color: rgb(70, 70, 70);
   fill: rgb(70, 70, 70);
}

.dark {
   background-color: rgb(29, 29, 29);
   color: rgb(209, 209, 209);
   fill: rgb(209, 209, 209);
}

/* Duplicated because mobile freaks about the /deep/ stuff. */
* /deep/ .dark {
   background-color: rgb(29, 29, 29);
   color: rgb(209, 209, 209);
   fill: rgb(209, 209, 209);
}

* /deep/ .light {
   background-color: white;
   color: rgb(70, 70, 70);
   fill: rgb(70, 70, 70);
}

textarea, input {
   font-family: inherit;
}

* /deep/ snippet-banner[source="wutheringheights.txt"] {
   background-color: rgb(199, 86, 70); /* #C75646 */
   color: rgb(199, 86, 70);
}

* /deep/ snippet-banner[source="dracula.txt"] {
   background-color: rgb(33, 134, 147); /* #218693 */
   color: rgb(33, 134, 147);
}

* /deep/ #text span {
   border-width: 0px;
   border-bottom-width: 0px;
}

* /deep/ #text span[source="wutheringheights.txt"] {
   border-bottom: 2px solid rgba(199, 86, 70, 0.3); /* #C75646 */
}

* /deep/ #text span[source="dracula.txt"] {
   border-bottom: 2px solid rgba(33, 134, 147, 0.3); /* #218693 */
}

* /deep/ #text span[source="dracula.txt wutheringheights.txt"] {
   -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0,
      color-stop(0, rgba(33, 134, 147, 0.3)), color-stop(1, rgba(199, 86, 70, 0.3))) 100% 0;
   border-bottom-width: 2px;
}

* /deep/ #text span[source="wutheringheights.txt dracula.txt"] {
   -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0,
      color-stop(0, rgba(199, 86, 70, 0.3)), color-stop(1, rgba(33, 134, 147, 0.3))) 100% 0;
   border-bottom-width: 2px;
}

* /deep/ paper-toast {
   min-height: 0px;
   min-width: 0px;
   padding: 7px;
   bottom: 7px;
   left: 7px;
}

* /deep/ paper-toast::shadow .toast-action {
   display: none;
}
