body {
   font-family: 'Avenir Next', 'Roboto', 'Roboto_Backup', 'Inconsolata', 'Inconsolata_Backup', monospace;
   padding: 0px;
   margin: 0px;
}

* /deep/ .light {
   background-color: white;
   color: rgb(70, 70, 70);
}

* /deep/ .dark {
   background-color: rgb(29, 29, 29);
   color: rgb(209, 209, 209);
}

textarea, input {
   font-family: inherit;
}

@font-face {
   font-family: "Gill_Sans";
   src: url(images/Gill_Sans_Light.ttf);
   font-style: normal;
}

@font-face {
   font-family: "Gill_Sans";
   src: url(images/Gill_Sans_Light_Italic.ttf);
   font-style: italic;
}
