body {
   font-family: 'Avenir Next', 'Roboto', 'Roboto_Backup', 'Inconsolata', 'Inconsolata_Backup', monospace;
   padding: 0px;
   margin: 0px;
   position: relative;
}

.light {
   background-color: white;
   color: rgb(70, 70, 70);
   fill: rgb(70, 70, 70);
}

.dark {
   background-color: rgb(29, 29, 29);
   color: rgb(209, 209, 209);
   fill: rgb(209, 209, 209);
}

/* Duplicated because mobile freaks about the /deep/ stuff. */
* /deep/ .dark {
   background-color: rgb(29, 29, 29);
   color: rgb(209, 209, 209);
   fill: rgb(209, 209, 209);
}

* /deep/ .light {
   background-color: white;
   color: rgb(70, 70, 70);
   fill: rgb(70, 70, 70);
}

textarea, input {
   font-family: inherit;
}

* /deep/ #text {
   font-family: 'Klinic Slab', 'Klinic_Backup', inherit;
}

* /deep/ #text span {
   border-width: 0px;
   border-bottom-width: 0px;
}

* /deep/ paper-toast {
   min-height: 0px;
   min-width: 0px;
   padding: 7px;
   bottom: 7px;
   left: 7px;
}

* /deep/ paper-toast::shadow .toast-action {
   display: none;
}
